:root {
    --primary-color: #34D06F;
    --primary-bg-color: #ece8c1;
    --accent-color: #DFB859;
    --text-black-color:#290025;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}


* {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--text-black-color);
    background-color: var(--primary-bg-color);
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.comm {
    background-color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    gap: 30px;
}

.comm a {
    font-size: 25px;
    color: var(--text-black-color);
    background-color: var(--accent-color);
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comm h1 {
    background-color: var(--primary-color);
}